/* --- ヘッダーに関するスタイル --- */
h1 {
	font-size : 2.5em;
}

/* --- コード表示に関するスタイル --- */
@font-face {
	font-family: 'SourceHanCodeJP';
	src: url('SourceHanCodeJP.woff2') format('woff2'),
	     url('SourceHanCodeJP.woff') format('woff');
}
pre.pre-line, pre.pre-line code {
	tab-size : 0px;
}
pre.pre-line {
	max-width : 70vw;
}
pre.pre-line code {
	overflow-x  : scroll;
	font-family : 'SourceHanCodeJP', Consolas, Menlo, 'Liberation Mono', Courier, monospace;
}
code { font-family : 'SourceHanCodeJP', Consolas, Menlo, 'Liberation Mono', Courier, monospace; }

/* --- リストに関するスタイル --- */
ul.rect li {
	list-style : none;
}
ul.rect li:before {
	content : "■";
}
ul.collection.with-header li.collection-header, ul.collection.with-header li.collection-item {
	padding : 5px 10px;
}
