/* --- ヘッダーに関するスタイル --- */
h1 {
	font-size : 2.5em;
}

/* --- コード表示に関するスタイル --- */
pre.pre-line, pre.pre-line code {
	tab-size : 0px;
}
pre.pre-line {
	max-width : 70vw;
}
pre.pre-line code {
	overflow-x : scroll;
}
code { font-family : Consolas, Menlo, 'Liberation Mono', Courier, monospace; }

/* --- リストに関するスタイル --- */
ul.rect li {
	list-style : none;
}
ul.rect li:before {
	content : "■";
}
